service: sequenciador-movel

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: us-east-1
  timeout: 30
  memorySize: 128

functions:
  emissor:
    handler: handler.emissor
    events:
      - http:
          path: emissor
          method: post
      - schedule: rate(1 hour)  # Cron dispara a cada hora

  sequencerWeekday:
    handler: handler.sequencerWeekday
    events:
      - http:
          path: sequencerWeekday
          method: post

  sequenciadorWeekend:
    handler: handler.sequenciadorWeekend
    events:
      - http:
          path: sequenciadorWeekend
          method: post

  agente1:
    handler: handler.agente1
  agente2:
    handler: handler.agente2
  agente3:
    handler: handler.agente3

plugins:
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3000
    lambdaPort: 3002
